.logisticscontainer {
  background: #eee;
  height: 950px;
}
.logisticsempty {
  height: 400px;
  border-radius: 8px;
  text-align: center;
  background: #eee url("http://home.m.dangdang.com/images/empty.png") no-repeat
    center/80%;
  position: relative;
}
.logisticsempty-content1 {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  font-size: 20px;
}
.logisticsempty-content2 {
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #333;
  padding: 6px 14px;
  font-size: 22px;
  border-radius: 6px;
}
.logisticsfull {
  display: flex;
  padding: 16px 20px;
  background: white;
  align-items: center;
  font-size: 22px;
  border-bottom: 1px solid #eee;
}
.logisticsfull-content {
  flex: 1;
}
.logisticsfull-operation {
    position: relative;
  width: 60px;
}
.addaddress-fixed {
  position: fixed;
  background-color: white;
  right: 8px;
  top: 16px;
  font-size: 20px;
  color: #f40;
}
.logisticsfull-content-user {
  margin-left: 30px;
  font-size: 20px;
}
span.logisticsfull-operation-def{
    color: #f40;
    position: absolute;
    right: 80px;
    top: 0;
    width: 50px;
}
